<div class="workspace-container">
  <div class="main-workspace-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
<!--    <div >-->
      <app-dynamic-element *ngFor="let component of components; let i = index"
                           draggable="true"
                           (dragstart)="onDragStart($event, i)"
                           (drop)="onDropSort($event, i)"
                           (dragover)="onDragOver($event)"
                           [id]="component.id"
                           [elementType]="component.elementType"
                           [elementDetail]="component.elementDetail"></app-dynamic-element>
<!--    </div>-->
  </div>
</div>
