.workspace-container {
  background: #f9fafb;
  width: calc(100vw - 280px);
  height: calc(100vh - var(--header-height));
  min-height: 400px;
  overflow: auto;
  position: relative;
}

.workspace-wrapper {
  background: #f9fafb;
  width: fit-content;
  height: fit-content;
  min-height: 400px;
  padding: 1rem 2rem;
  overflow: visible;
  position: relative;
}

.main-workspace-area {
  background-color: #fff;
  height: fit-content;
  min-height: calc(100vh - var(--header-height) - 2rem);
  border-radius: 2px;
  box-shadow: 0 0 5px 3px #0001;
  overflow: hidden;
  position: relative;
}

.user-mouse-info {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;
  transition: .1s;

  .user-cursor {
    width: 10px;
    height: 15px;
    background-color: inherit;
    clip-path: polygon(100% 69%, 55% 68%, 75% 95%, 54% 100%, 33% 73%, 0 95%, 0 0);
  }

  .user-cursor-label {
    padding: 2px 3px;
    border-radius: 2px;
    color: white;
    background-color: inherit;
    font-size: .6rem;
    line-height: .6rem;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
  }
}
