<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">

  <img class="mb-4" [src]="logoSrc" alt="">

  <h4 class="mb-4">Please Enter your user name to continue</h4>

  <form class="d-flex flex-column gap-4" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="name" placeholder="Your unique username">
    </mat-form-field>

    <mat-form-field *ngIf="!isLoginMode">
      <mat-label>Choose a color</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let colorOption of colorOptions" [value]="colorOption">
          <span class="text-{{colorOption}}">{{ colorOption }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="button"
            (click)="toggleLoginMode()"
            class="btn btn-link">
      <i class="fad fa-eraser me-2"></i>
      {{ isLoginMode ? 'Are you a new user? click here' : 'Already have a user? click here' }}
    </button>

    <button type="submit"
            [disabled]="formGroup.invalid"
            class="btn btn-primary">
      {{ isLoginMode ? 'Login' : 'Sign Up' }}
    </button>
  </form>

</div>
